<header>
    <img class="logo" src="/logo TO.svg" alt="logo">
    <nav> <a href="/">Inicio</a></nav>
</header>
<style>
        header {
    background: #1C1C1C ;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
nav a { 
     display: inline;
    margin: 0 15px;
    color: #F5F5F5;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color:#FFD700;
}

</style>