<section id="about">
    <h2>Sobre Nosotros</h2>
    <p>Somos una tienda online dedicada a ofrecer los mejores productos para nuestros clientes. Con años de experiencia en el sector, nos enorgullece ofrecer una experiencia de compra única.</p>
    <h3>- Visión</h3>
<p> Nuestra visión es seguir expandiéndonos a nivel global, convirtiéndonos en la primera opción para los clientes que buscan productos excepcionales y un servicio al cliente inigualable. Queremos que cada visita a nuestra tienda online sea memorable.
</p> 
<h3>- Valores</h3>
<p><strong>Compromiso, Innovación, Confianza, Sostenibilidad</strong> </p>
</section>
<style>
    #about{
        margin-bottom: 20px;
    }
    p{
        margin-top: 6px;
    }
</style>