<section id="testimonials">
    <h2>Lo que dicen nuestros clientes</h2>
    <div class="testimonial">
        <p>"¡Excelente servicio y productos de alta calidad!"</p>
        <p>- Ana López</p>
    </div>
    <div class="testimonial">
        <p>"La experiencia de compra fue rápida y sencilla. Muy recomendable."</p>
        <p>- Carlos Martínez</p>
    </div>
    <div class="testimonial">
        <p>"Gran atención al cliente y envío rápido."</p>
        <p>- María García</p>
    </div>
  
</section>
<style>
    
#testimonials {
    background-color:#f7f3f1 ;
    padding: 50px 20px;
    text-align: center;
    color:#f9f9f9;
}

#testimonials h2 {
    color:#1C1C1C;
    font-size: 2em;
    margin-bottom: 30px;
}

.testimonial {
    background-color:#efd74d ;
    max-width: 600px;
    height: 90px;
    margin: 0 auto 20px auto;
    padding-top: 3px;
    border-radius: 8px;
}

.testimonial p {
    font-size: 1.1em;
    line-height: 1.5;
}

.testimonial p:first-child {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial p:last-child {
    font-weight: bold;
    color: #1C1C1C;
}
</style>